<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Wishlist</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

<ul th:replace="page-layout :: ${NavBar}"></ul>

<div class="container">

    <h3>My Wishlist</h3>

    <table th:if="${mywishlist.size > 0}" id="tablestyle">
        <tr>
            <th>ID</th>
            <th>Book Title</th>
            <th>Author</th>
            <th style="width: 100px">Operations</th>
        </tr>
        <tr th:each="item : ${mywishlist}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.idWork.title}"></td>
            <td th:text="${item.idWork.author}"></td>
            <td>
                <form th:action="@{/wishlists/removewishlist}" th:method="GET">
                    <input type="hidden" th:value="${item.id}" name="wishlistId">
                    <input th:if="${user.role=='ROLE_USER'}" type="submit" class="btn btn-danger" name="action" value="Delete">
                </form>
            </td>
        </tr>
    </table>

</div>

</body>
</html>