<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

<ul th:replace="page-layout :: ${NavBar}"></ul>

<div class="container">

    <h3>Book List

        <form th:action="@{/book/addbook}" method="GET">
            <input th:if="${user.role=='ROLE_LIBRARIAN'}" class="btn btn-success" type="submit" value="Add Book">
        </form>

    <table th:if="${booklist.size > 0}" id="tablestyle">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th style="width: 100px">Operations</th>
        </tr>
        <tr th:each="book : ${booklist}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.category}"></td>
            <td>
                <form th:action="@{/wishlists/savewishlist}" th:method="POST">
                    <input type="hidden" th:value="${book.id}" name="bookId">
                    <input th:if="${user.role=='ROLE_USER'}" type="submit" class="btn btn-success" name="action" value="+ Wishlist">
                </form>
                <form th:action="@{/book/editbook}" th:method="GET">
                    <input type="hidden" th:value="${book.id}" name="bookId">
                    <input th:if="${user.role=='ROLE_LIBRARIAN'}" type="submit" class="btn btn-warning" name="action" value="Edit">
                </form>

                <form th:action="@{/book/deletebook}" th:method="GET">
                    <input type="hidden" th:value="${book.id}" name="bookId">
                    <input th:if="${user.role=='ROLE_LIBRARIAN'}" type="submit" class="btn btn-danger" name="action" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>