<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/security-layout.css}">
</head>
<body>

<div class="wrapperRegister">
    <div class="containerRegister">

        <form th:action="@{/register/save}" th:object="${newAccount}" method="POST">

            <p><b>Account details</b></p>

            <div class="row">
                <div class="col-25">
                    <label for="username">Username</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="username" required="required" th:field="${newAccount.username}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="password">Password</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password" required="required" th:field="${newAccount.password}">
                </div>
            </div>

            <p><b>Contact details</b></p>


            <div class="row">
                <div class="col-25">
                    <label for="firstName">First Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="firstName" name="firstName" required="required" th:field="${newAccount.firstName}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lastName" name="lastName" required="required" th:field="${newAccount.lastName}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="address">Address</label>
                </div>
                <div class="col-75">
                    <input type="text" id="address" name="address" required="required" th:field="${newAccount.address}">
                </div>
            </div>


            <div class="row">
                <input class="registerButton" type="submit" value="Register">
            </div>
        </form>

    </div>
</div>

</body>
</html>