<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{../../CSS/account-layout.css}">
    </head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>



<div class="container"><a >Add Delevery</a>
  
  <form th:object="${newDelivery}" method="POST" th:action="@{/Delivery/saveDelivery}" cssClass="form" >
  
  <div type="hidden" class="row">
        <div class="col-75">
            <input type="hidden" id="id" name="id" required="required" th:value="${newDelivery.idDelivery}">
           
        </div>
    </div>
   
  <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Delivery Date</label>
                                <input type="date" required="required" th:field="${newDelivery.deliveryDate}" class="form-control" id="*{deliveryDate}" >
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Delevery person name </label>
                                </div>
                                <div class="form-group col-md-6">
                                <select th:field ="${newDelivery.person.id}" >
                                <option   required="required" th:each ="c:${deliveryPs}" th:value="${c.id}" th:utext="${c.name}+' '+${c.surname}"> </option>
                                </select>
                            </div>
                             <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Operation id</label>
                                </div>
                                <div class="form-group col-md-6">
                               <select th:field ="${newDelivery.operation.id}" >
                               <option required="required" th:each ="o:${Operations}" th:value="${o.id}" th:utext="${o.id}"> </option>
       
                               </select></div>
                               <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">service type</label>
                                </div>
                            <div class="form-group col-md-6">
                            
                                  <select required="required" name="svc">
                                    <option>SaleService</option>
                                    <option>RentService</option></select></div>
                               
   


     <button type="submit" class="btn btn-primary">Add Delivery</button>
  </form>
  
 </div>

</body>
</html>