<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{../../CSS/account-layout.css}">
    </head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>



<div class="container"><a >modify selected delivery</a>

<!-- <form action="#" th:action="@{/Delivery/modifyDelivery/{idDelivery}(idDelivery=${newDelivery.idDelivery})}" th:object="${Delivery}" method="post"> -->
    <form action="#" th:action="@{/Delivery/saveDelivery}" th:object="${Delivery}" method="post">

                             <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Delivery Date</label>
                                <input type="date" th:field="${newDelivery.deliveryDate}" class="form-control"  required="required" id="*{deliveryDate}" placeholder="deliveryDate">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Delevery person name </label>
                                </div>
                                <div class="form-group col-md-6">
                                <select th:field ="${newDelivery.person.id}" >
                                <option  th:each ="c:${deliveryPs}" th:value="${c.id}" required="required" th:utext="${c.name}+' '+${c.surname}"> </option>
                                </select>
                            </div>
                             <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Operation id</label>
                                </div>
                                <div class="form-group col-md-6">
                                
                                
                                  <text th:text="${newDelivery.operation.id}"></text>
                               </div>
                               <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">service type</label>
                                </div>
                            <div class="form-group col-md-6" >
                                     <text th:text="${newDelivery.svc}"></text></div>
                                    
                                            <div class="row">
            <div class="col-50">
                <text>Operation status:</text>
            </div>

            <div class="col-50">
                <input type="radio" id="delivered" name="delivered" value="true"  th:checked="${newDelivery.delivered == true}">
                <text for="delivered">Delivered </text>
            </div>

            <div class="col-50">
                <input type="radio" id="delivered" name="delivered" value="false"  th:checked="${newDelivery.delivered == false}">
                <text for="delivered">not Delivered</text>
            </div>
        </div>
                                    
                               
                                
        <button type="submit" class="btn btn-primary">submit Delivery modification</button>                         
                            
</form>

</div>
</body>
</html>