<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Delivery</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body th:bgcolor="333333">

<ul th:replace="page-layout :: ${NavBar}"></ul>



<div class="container">

    <h3>My Deliveries List</h3>
    
    
    
    
    <table th:if="${ userDelivery.size > 0}" id="tablestyle">
        <tr>
            <th>IdDelivery</th>
            <th>DeleveryPerson Name</th>
            <th>Date</th>
            <th>Service Type</th>
            <th>operation</th>
            <th>status</th>
            

        </tr>
            <tr th:each="Delivery : ${ userDelivery}">
            <td th:text="${Delivery.idDelivery}"></td>
            <td th:text="${Delivery.person.name}+' '+${Delivery.person.surname}"></td>
            <td th:text="${Delivery.deliveryDate}"></td>
            <td th:text="${Delivery.svc}"      ></td>
            <td th:text="${Delivery.operation.id}"></td>
            <td th:if="${Delivery.delivered==true}" >delivered</td>
            <td th:if="${Delivery.delivered==false}" >not delivered</td>
            
                  </tr> 
      
            </table> 
 

</div>
</body>
</html>
