<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Claim</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
</head>
<body>
<div class="container">
<h3>Claim details</h3>

<form th:action="@{/claims/saveclaim}" th:object="${newclaim}" method="POST">

    <div type="hidden" class="row">
        <div class="col-75">
            <input type="hidden" id="claimid" name="claimid" required="required" th:value="${newclaim.id}">
            <input type="hidden" id="userid" name="userid" required="required" th:value="${newclaim.userId}">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="subject">Subject</label>
        </div>
        <div class="col-75">

            <select name="subject">
                <option
                        id="subject" th:each="subject : ${T(com.esprit.ouverage.model.ClaimSubject).values()}"
                        th:value="${subject}" th:text="${subject}"
                        th:selected="${newclaim.subject == subject}"></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="content">Content</label>
        </div>
        <div class="col-75">
            <input type="text" id="content" name="content" th:field="${newclaim.content}">
        </div>
    </div>


    <div class="row">
        <input class="registerButton" type="submit" value="Add Claim">
    </div>

</form>
</div>
</body>
</html>