<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Claim</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

</head>
<body>

<div class="container">

    <h3>Manage Claim</h3>

    <div class="row">
        <div class="col-50">
            <text th:if="${currentUser.role.equals('ROLE_LIBRARIAN')}">User:</text>
        </div>
        <div class="col-75">
            <text th:if="${currentUser.role.equals('ROLE_LIBRARIAN')}" th:text="${claim.userId.username}"></text>
        </div>
    </div>

    <form th:if="${currentUser.role.equals('ROLE_USER')}" th:action="@{/claims/claiminfomodify}" th:method="PUT">
        <div class="row">
            <div class="col-50">
                <text>Subject:</text>
            </div>

            <!--        USER -->
            <div th:if="${currentUser.role.equals('ROLE_USER')}" class="col-75">

                <select name="claimSub">
                    <option
                            id="claimSub" th:each="subject : ${T(com.esprit.ouverage.model.ClaimSubject).values()}"
                            th:value="${subject}" th:text="${subject}"
                            th:selected="${claim.subject == subject}"></option>
                </select>

<!--                <input th:type="text" id="claimSub" name="claimSub" th:value="${claim.subject}"/>-->
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <text>Content:</text>
            </div>
            <!--        USER -->
            <div th:if="${currentUser.role.equals('ROLE_USER')}" class="col-75">
                <input th:type="text" id="claimCon" name="claimCon" th:value="${claim.content}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <text>Date:</text>
            </div>
            <div class="col-75">
                <text th:text="${claim.claimDate}"></text>
            </div>
        </div>


        <div class="row">
            <div class="col-50">
                <text>Claim status:</text>
            </div>

            <div th:if="${currentUser.role.equals('ROLE_USER')}" class="col-75">
                <text th:text="${claim.status}"></text>
            </div>

        </div>

        <br/>
        <div class="row">
            <div th:if="${currentUser.role.equals('ROLE_USER')}" class="col-50">
                <input type="submit" value="Save Changes">
                <input type="hidden" th:value="${claim.id}" name="claimId">
            </div>


            <form th:action="@{/claims/useranageclaims}" th:method="GET">
                <div th:if="${currentUser.role.equals('ROLE_USER')}" class="col-50">
                    <input type="submit" value="Cancel">
                </div>
            </form>
        </div>
    </form>


    <!--        for Librarian-->

    <form th:if="${currentUser.role.equals('ROLE_LIBRARIAN')}" th:action="@{/claims/claiminfosaved}" th:method="PUT">

        <div class="row">
            <div class="col-50">
                <text>Subject:</text>
            </div>
            <!--        LIBRARIAN -->
            <div th:if="${currentUser.role.equals('ROLE_LIBRARIAN')}" class="col-75">
                <text th:text="${claim.subject}"></text>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <text>Content:</text>
            </div>
            <!--        LIBRARIAN -->
            <div th:if="${currentUser.role.equals('ROLE_LIBRARIAN')}" class="col-75">
                <text th:text="${claim.content}"></text>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <text>Date:</text>
            </div>
            <div class="col-75">
                <text th:text="${claim.claimDate}"></text>
            </div>
        </div>

        <form th:action="@{/claims/claiminfosaved}" th:method="POST">
            <div class="row">
                <div class="col-50">
                    <text>Claim status:</text>
                </div>

                <div th:if="${currentUser.role.equals('ROLE_LIBRARIAN')}" class="col-75">
                    <select name="claimStatus">
                        <option
                                id="claimStatus" th:each="status : ${T(com.esprit.ouverage.model.StatusClaim).values()}"
                                th:value="${status}" th:text="${status}"
                                th:selected="${claim.status == status}"></option>
                    </select>
<!--                    <select name="claimStatus" >-->
<!--                        <option th:each="st : ${statusclaim}"-->
<!--                                th:text="${st}"-->
<!--                                th:value="${st}">-->
<!--                        </option>-->
<!--                    </select>-->


                </div>
            </div>

            <br/>
            <div class="row">
                <div th:if="${currentUser.role.equals('ROLE_LIBRARIAN')}" class="col-50">
                    <input type="submit" value="Save">
                    <input type="hidden" th:value="PUT" th:name="_method">
                    <input type="hidden" th:value="${claim.id}" name="claimId">
                    <input type="hidden" th:value="${claim.status}">
                </div>

                <form th:action="@{/claims/manageclaims}" th:method="GET">
                    <div class="col-50">
                        <input type="submit" value="Cancel">
                    </div>
                </form>
            </div>


        </form>


</div>


</div>
</body>
</html>