<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Claims [MEMBER]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body th:bgcolor="333333">

<ul th:replace="page-layout :: ${NavBar}"></ul>



<div class="container">

    <h3>Manage Claims</h3>

    <form th:action="@{/claims/addclaim}" method="GET">
        <button class="btn btn-success">Add Claim</button>
    </form>

    <div class="row">
        <form th:action="@{/claims/useranageclaims}" method="GET">

            <div class="col-25">
                <label for="claimStat">Status</label>
            </div>
            <div class="col-75">
                <select name="claimStat">
                    <option
                            id="claimStat" th:each="status : ${T(com.esprit.ouverage.model.StatusClaim).values()}"
                            th:value="${status}" th:text="${status}"></option>
                </select>
            </div>

            <div>
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
    <br/>


    <table th:if="${claims.size > 0}" id="tablestyle">
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Date</th>
            <th>Status</th>
            <th style="width: 100px">Operations</th>
        </tr>
        <tr th:each="claim : ${claims}">
            <td th:text="${claim.id}"></td>
            <td th:text="${claim.subject}"></td>
            <td th:text="${claim.content}"></td>
            <td th:text="${claim.claimDate}"></td>
            <td th:text="${claim.status}"></td>
            <td>
                <form th:action="@{/claims/manageclaim}" th:method="GET">
                    <input type="hidden" th:value="${claim.id}" name="claimId">
                    <input type="submit" class="btn btn-warning" value="Edit">
                </form>
                <form th:action="@{/claims/deleteclaim}" th:method="GET">
                    <input type="hidden" th:value="${claim.id}" name="claimId">
                    <input type="submit" class="btn btn-warning" value="Delete">
                </form>
            </td>
        </tr>
    </table>


</div>
</body>
</html>