<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Confirm Account Changes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">

    <h3>Confirm account settings</h3>

    <div class="row">
        <div class="col-50">
            <text>Username:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.username}">
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>First name:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.firstName}">
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>Last name:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.lastName}">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-50">
            <text>Account enabled:</text>
        </div>
        <div class="col-75">
            <text th:text="${accStatus}">
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>Role:</text>
        </div>
        <div class="col-75">
            <text th:text="${role}">
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <form th:action="@{/admin/saveaccountsettings}" th:method="POST">
                <input type="submit" value="Confirm">
                <input type="hidden" th:value="${user.id}" name="userId">
                <input type="hidden" th:value="${accStatus}" name="accStatus">
                <input type="hidden" th:value="${role}" name="role">
                <input type="hidden" th:value="PUT" th:name="_method">
            </form>
        </div>
        <div class="col-50">
            <form>
                <input type="submit" value="cancel" style="background-color: red">
            </form>
        </div>
    </div>
</div>

</body>
</html>