<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>

<ul th:replace="page-layout :: adminNavBar"></ul>

<div class="container">
    <h2 th:text="${'Welcome' + ' ' + currentUser.firstName + ' ' + currentUser.lastName}"></h2>
</div>

<div class="container">
    <h2> This is the Root Space !!</h2>



</div>

</body>
</html>