<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Manage accounts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: adminNavBar"></ul>

<div class="container">
    <h3>Manage Accounts</h3>

    <div class="row">
        <form th:action="@{/admin/manageaccounts}" method="GET">
            <div class="col-25">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="firstName" name="firstName" th:value="${firstName}">
            </div>

            <div class="col-25">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="lastName" name="lastName" th:value="${lastName}">
            </div>
            <div>
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
    <br/>

    <table th:if="${users.size > 0}" id="tablestyle">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Role</th>
            <th style="width: 100px">Select Account</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <form th:action="@{/admin/manageaccount}" method="GET">
                    <input type="submit" value="Select" class="table">
                    <input type="hidden" th:value="${user.id}" name="userId">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>