<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Manage Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">

    <h3>Manage Account</h3>

    <div class="row">
        <div class="col-50">
            <text>Username:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.username}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>First name:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.firstName}"></text>
        </div>
    </div>


    <div class="row">
        <div class="col-50">
            <text>Last name:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.lastName}"></text>
        </div>
    </div>




    <div class="row">
        <div class="col-50">
            <text>Address:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.address}"></text>
        </div>
    </div>


    <form th:action="@{/admin/confirmaccountsettings}" th:method="POST">
        <div class="row">
            <div class="col-50">
                <text>Account status:</text>
            </div>

            <div class="col-50">
                <input type="radio" id="accStatus" name="accStatus" value="true" th:checked="${user.enabled == true}">
                <text for="enabled">Account enabled</text>
            </div>

            <div class="col-50">
                <input type="radio" id="accStatus" name="accStatus" value="false" th:checked="${user.enabled == false}">
                <text for="accStatus">Account disabled</text>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <text>Role:</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="role" value="ROLE_USER" th:checked="${user.role.equals('ROLE_USER')}">
                <text for="role">Member</text>
            </div>

            <div class="col-50">
                <input type="radio"
                       id="role"
                       name="role"
                       value="ROLE_LIBRARIAN"
                       th:checked="${user.role.equals('ROLE_LIBRARIAN')}">
                <text for="role">Librarian</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="role" value="ROLE_ADMIN" th:checked="${user.role.equals('ROLE_ADMIN')}">
                <text for="role">Admin</text>
            </div>

        </div>


        <br/>

        <div class="row">
            <div class="col-50">
                <input type="submit" value="Save">
                <input type="hidden" th:value="PUT" th:name="_method">
                <input type="hidden" th:value="${user.id}" name="userId">
                <input type="hidden" th:value="${user.enabled}">
                <input type="hidden" th:value="${user.role}">

    </form>
</div>

<div class="col-50">
    <form th:action="@{/admin/manageaccounts}" th:method="GET">
        <input type="submit" value="Cancel" style="background-color: red">
    </form>
</div>
</div>

</div>

</body>
</html>