<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>My Sales</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <h2>My Sales</h2>
  <table class="table table-striped">
   <thead>
    <th scope="row">ID Work</th>
    <th scope="row">Titre</th>
    <th scope="row">Author</th>
     <th scope="row">Category</th>
     <th scope="row">Category</th>
     <th scope="row">Editon</th>
     <th scope="row">Language</th>
     <th scope="row">Publisher</th>
     <th scope="row">Price</th>
     <th scope="row">Qte</th>
     <th scope="row">Update</th>
    <th scope="row">Delete</th>
   </thead>
   <tbody>
     <tr th:each="c : ${listeworks}"> 
      <td th:utext="${c.id}"> </td>
      <td th:utext="${c.titre}"> </td>
      <td th:utext="${c.author}"> </td>
       <td th:utext="${c.category}"> </td>
       <td th:utext="${c.edition}"> </td>
       <td th:utext="${c.language}"> </td>
       <td th:utext="${c.publisher}"> </td>
       <td th:utext="${c.price}"> </td>
       <td th:utext="${c.qte}"> </td>
         <td>
       <a class="btn btn-primary" th:href="@{/carts/update/{id} (id=${c.id})}"
        role="button" >Update</a>
      </td>
      <td>
       <a class="btn btn-primary" th:href="@{/carts/delete/{id}(id=${c.id})}"
        role="button" >Delete</a>
      </td>
      
     </tr>
   </tbody>
  </table>
  <a class="btn btn-primary" th:href="@{/carts/add}" role="button" >Ajouter un nouveau Cart</a>
  <a class="btn btn-primary" th:href="@{/carts/find}" role="button" >Recherche simple</a>
    <a class="btn btn-primary" th:href="@{/carts/find1}" role="button" >Recherche avancé</a>
  
 </div>
</body>
</html>