<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/account-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>

<div class="container" >
	 <div class="row">
        <form th:action="@{/book/search}" method="GET">
            <div class="col-25">
                <label for="authot_title">Author/Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="authot_title" name="authot_title" >
            </div>

            <div class="col-25">
                <label for="rent">Available for Rent</label>
            </div>
            <div class="col-75">
                <select name="disponible_rent"  class="form-control" >
            		<option 
                    	th:value="true"
                    	th:text="Available">
            		</option>
            		<option 
                    	th:value="false"
                    	th:text="unavailable">
            		</option>
        		</select>
            </div>
             <div class="col-25">
                <label for="rent">Has offre</label>
            </div>
            <div class="col-75">
                <select name="offre"  class="form-control" >
            		<option 
                    	th:value="true"
                    	th:text="Yes">
            		</option>
            		<option 
                    	th:value="false"
                    	th:text="No">
            		</option>
        		</select>
            </div>
            <div class="col-25">
                <input type="submit" value="Search">
                <a style="width:125px;" class="buttonGreen" th:href="@{/book}">Reset</a>
            </div>
            
             
        </form>
    </div>
   
</div>
<div class="container">

 <table  id="tablestyle">
   <tr>
           
            <th>Title</th>
            <th>Author</th>
            <th>Edition</th>
            <th>category</th>
            <th>publisher</th>
            <th>language</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Offre percentage</th>
            <th>Offre start date</th>
            <th>Offre end date</th>
            <th style="width: 100px">Action</th>
        </tr>
        <tr th:each="book : ${workList}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.edition}"></td>
            <td th:text="${book.category}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.language}"></td>
            <td th:text="${book.quantity}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.offre != null ? book.offre.percentage : 'NULL'}"></td>
            <td th:text="${book.offre != null ? book.offre.startDate : 'NULL'}"></td>
            <td th:text="${book.offre != null ? book.offre.endDate : 'NULL'}"></td>
            <td>
                <form th:action="@{/wishlists/savewishlist}" th:method="POST">
                    <input type="hidden" th:value="${book.id}" name="bookId">
                    <input type="submit" class="btn btn-success" name="action" value="+ Wishlist">
                </form>
				
               	<!--add RENT here-->
               	<form th:if="${book.quantity}>0 and ${book.rentable}" th:action="@{/operations/manageoperations/addrentitem}" th:method="POST">
						 <input type="hidden" th:value="${book.id}" name="workId"> 
                    <input type="hidden" th:value="${book.id}" name="operationId"> 
						<input type="submit" class="btn btn-warning" value="Add RENT">
				</form>
                <!--add CART here-->
                <form th:if="${book.quantity}>0 and ${not book.rentable}" th:action="@{/operations/manageoperations/addcartitem}" th:method="POST">
                    <input type="hidden" th:value="${book.id}" name="workId"> 
                    <input type="hidden" th:value="${book.id}" name="operationId"> 
                    <input
                        type="submit"
                        class="btn btn-danger" name="action" value="Add CART">
                </form>
				<!--add feedback here-->
                <form th:action="@{/feedbacks/addfeedback}" th:method="GET">
                    <input type="hidden" th:value="${book.id}" name="workId">
                    <input type="submit" class="btn btn-danger" name="action" value="Add feedback">
                </form>
                <!--see feedback here-->
                <form th:action="@{/feedbacks/feedbacksbywork}" th:method="GET">
                    <input type="hidden" th:value="${book.id}" name="workId">
                    <input type="submit" class="btn btn-danger" name="action" value="see feedback">
                </form>
            </td>
        </tr>
    </table>


</div>
</body>
</html>