<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>


<div class="containr">

 <table  id="tablestyle">
   <tr>
           
            <th>edate</th>
            <th>percentage</th>
            <th>sdate</th>
            <th>id_work</th>
            <th style="width: 100px">Action</th>
        </tr>
        <tr th:each="user : ${offrelist}">
            <td th:text="${user.edate}"></td>
            <td th:text="${user.percentage}"></td>
            <td th:text="${user.sdate}"></td>
             <td th:text="${user.id_work}"></td>
            <td>
                <form th:action="@{/admin/manageaccount}" method="GET">
                    <input type="submit" value="Rent" class="table">
                     <input type="submit" value="bay" class="table">
                    <input type="hidden" th:value="${user.id}" name="userId">
                </form>
            </td>
        </tr>
    </table>

<!-- <div class="container">
    <h2 th:text="${'Welcome' + ' ' + currentUser.firstName + ' ' + currentUser.lastName}"></h2>
</div>

 -->
</div>
</body>
</html>