
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{../../CSS/account-layout.css}">
    </head>
    <body>
    <ul th:replace="page-layout :: employeeNavBar"></ul>
    
        <form th:object="${newDeliveryPerson}" method="POST" th:action="@{/DeliveryPerson/saveDeliveryPerson}" class="container" >
     <div >
            <a>Add Delivery person</a>
          
        </div>
   
 <div type="hidden" class="row">
        <div class="col-75">
            <input type="hidden" id="id" name="id" required="required" th:value="${newDeliveryPerson.id}">
           
        </div>
    </div>
   
   <div class="form-group col-md-4">
    <label>      First name  :</label></div>
   <div class="form-group col-md-4"> <input type="text" cssClass="form-control" required="required" th:field="${newDeliveryPerson.name}"  />
   </div>
   
   
   <div class="form-group col-md-4">
    <label>Second name :</label></div>
   <div class="form-group col-md-4"> <input type="text"  cssClass="form-control"  required="required" th:field="${newDeliveryPerson.surname}"  />
   </div>
   
    <div class="form-group col-md-6">
    <label>Phone number:</label></div>
  <div class="form-group col-md-6">  <input type="text" cssClass="form-control" required="required" th:field="${newDeliveryPerson.phone}"  />
   </div>
   
    <div class="form-group col-md-6">
    <label>rating      :</label></div>
   <div class="form-group col-md-6"> <input type="number"  cssClass="form-control"  required="required"  th:field="${newDeliveryPerson.rating}" />
   </div>

   
   <button type="submit" value = "save"  class="btn btn-primary">Add DeliveryPerson</button>
  </form>
  
    </body>
</html>