<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Delevery Personnel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body th:bgcolor="333333">

<ul th:replace="page-layout :: ${NavBar}"></ul>



<div class="container">

    <h3>DeliveryPersons List</h3>


           <a class="btn btn-primary" th:href="@{/DeliveryPerson/addDeliveryPerson}"
        role="button" >Add DeliveryPerson</a> 


    <table th:if="${DeliveryPersons.size > 0}" id="tablestyle">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Phone</th>
            <th>Rating</th>
            <th>update</th>
            <th>drop</th>
        </tr>
        <tr th:each="DeliveryPerson : ${DeliveryPersons}">
            <td th:text="${DeliveryPerson.id}"></td>
            <td th:text="${DeliveryPerson.name}"></td>
            <td th:text="${DeliveryPerson.surname}"></td>
            <td th:text="${DeliveryPerson.phone}"></td>
            <td th:text="${DeliveryPerson.rating}"></td>
             
          <td>
       <a class="btn btn-primary" th:href="@{/DeliveryPerson/modifyDeliveryPerson/{id} (id=${DeliveryPerson.id})}"
        role="button" >modify</a> 
      </td>

           <td>
       <a class="btn btn-primary" th:href="@{/DeliveryPerson/deleteDeliveryPerson/{id} (id=${DeliveryPerson.id})}"
        role="button" >Delete</a> 
      </td>

        </tr>
    </table>

</div>
</body>
</html>
