<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update Book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{../../CSS/account-layout.css}">
    </head>
    <body>
    <ul th:replace="page-layout :: employeeNavBar"></ul>
        <div class="container my-3">
            <a>Update Delivery person</a>
          
        </div>
        <form th:object="${newDeliveryPerson}" method="POST" th:action="@{/DeliveryPerson/modifyDeliveryPerson/{id}(id=${newDeliveryPerson.id})}" class="container" >
 
 
   
   <div class="form-group col-md-6">
    <label>      First name  :</label></div>
   <div class="form-group col-md-6"> <input type="text" cssClass="form-control" required="required" th:field="${newDeliveryPerson.name}"  />
   </div>
   
   
   <div class="form-group col-md-6">
    <label>Second name :</label></div>
   <div class="form-group col-md-6"> <input type="text"  cssClass="form-control"  required="required" th:field="${newDeliveryPerson.surname}"  />
   </div>
   
    <div class="form-group col-md-6">
    <label>Phone number:</label></div>
  <div class="form-group col-md-6">  <input type="text" cssClass="form-control" required="required" th:field="${newDeliveryPerson.phone}"  />
   </div>
   
    <div class="form-group col-md-6">
    <label>rating      :</label></div>
   <div class="form-group col-md-6"> <input type="number"  cssClass="form-control"  required="required"  th:field="${newDeliveryPerson.rating}" />
   </div>

   
   <button type="submit" value = "update"  class="btn btn-primary">submit DeliveryPerson modification</button>
  </form>
  
    </body>
</html>