<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Feedback</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body th:bgcolor="333333">

<ul th:replace="page-layout :: ${NavBar}"></ul>



<div class="container">

    <h3>DeliveryPersons List</h3>



    <table th:if="${DeliveryPersons.size > 0}" id="tablestyle">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Phone</th>
            <th>Rating</th>

        </tr>
        <tr th:each="DeliveryPerson : ${DeliveryPersons}">
            <td th:text="${DeliveryPerson.id}"></td>
            <td th:text="${DeliveryPerson.name}"></td>
            <td th:text="${DeliveryPerson.surname}"></td>
            <td th:text="${DeliveryPerson.phone}"></td>
            <td th:text="${DeliveryPerson.rating}"></td>

        </tr>
    </table>

</div>
</body>
</html>
