<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{../CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>
<div class="wrapper">
    <div class="container">
        <form th:action="@{/book/add-save}" th:object="${newWork}" method="POST">

            <p><b>Add Book</b></p>

            <div class="row">
                <div class="col-25">
                    <label for="author">Author</label>
                </div>
                <div class="col-75">
                    <input type="text" id="author" name="author" required="required" th:field="*{author}">
                </div>
            </div>
             <div class="row">
                <div class="col-25">
                    <label for="title">Title</label>
                </div>
                <div class="col-75">
                    <input type="text" id="title" name="title" required="required" th:field="*{title}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="category">Category</label>
                </div>
                <div class="col-75">
                    <input type="text" id="category" name="category" required="required" th:field="*{category}">
                </div>
            </div>

           <div class="row">
                <div class="col-25">
                    <label for="edition">Quantity</label>
                </div>
                <div class="col-75">
                    <input type="number"  required="required" th:field="*{quantity}">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="edition">Price</label>
                </div>
                <div class="col-75">
                    <input step="0.01" type="number"  required="required" th:field="*{price}">
                </div>
            </div>


            <div class="row">
                <div class="col-25">
                    <label for="edition">Edition</label>
                </div>
                <div class="col-75">
                    <input type="date" id="edition" name="edition" required="required" th:field="*{edition}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="language">Language</label>
                </div>
                <div class="col-75">
                    <input type="text" id="language" name="language" required="required" th:field="*{language}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="publisher">Publisher</label>
                </div>
                <div class="col-75">
                    <input type="text" id="publisher" name="publisher" required="required" th:field="*{publisher}">
                </div>
            </div>
            <div class="row">
            	<div class="col-50">
                <text>Rentable:</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="rental" th:field="*{rentable}" value="true">
                <text for="role">Yes</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="rental" th:field="*{rentable}" value="false">
                <text for="role">No</text>
            </div>

        </div>
            
             
            <div class="row">
                <input class="registerButton" type="submit" value="Register">
            </div>
        </form>

    </div>
</div>

</body>
</html>