<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{../CSS/account-layout.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>


<div class="container">

<form action="#" th:action="@{/lib/save}" th:object="${promotion}" method="post">
                            <div class="form-group col-md-6">
                                <label for="percentage" class="col-form-label">percent</label>
                                <input type="text" th:field="*{percentage}" class="form-control" id="*{percentage}" placeholder="percentage">
                            
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="*{name}" placeholder="name">
                            </div>
                             <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">start Date</label>
                                <input type="date" th:field="*{startDate}" class="form-control" id="*{startDate}" placeholder="startDate">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">end Date</label>
                                <input type="date" th:field="*{endDate}" class="form-control" id="*{endDate}" placeholder="end Date">
                            </div>
                                   
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Promotion">
                            </div>
                        </div>    
</form>

</div>
</body>
</html>