<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../CSS/account-layout.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>

<div class="container">
 <h2 class="mb-5">Affecter Offre</h2>
 
 <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" th:field="${book.title}" readonly class="form-control-plaintext" id="title" >
    </div>
  </div>
  <div class="form-group row">
    <label for="author" class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
      <input type="text" th:field="${book.author}" readonly class="form-control-plaintext" id="author" >
    </div>
  </div>
  <div class="form-group row">
    <label for="edition" class="col-sm-2 col-form-label">Edition</label>
    <div class="col-sm-10">
      <input type="text"th:field="${book.edition}"readonly class="form-control-plaintext" id="edition" >
    </div>
  </div>
  <div class="form-group row">
    <label for="language" class="col-sm-2 col-form-label">Language</label>
    <div class="col-sm-10">
      <input type="text" th:field="${book.language}" readonly class="form-control-plaintext" id="language" >
    </div>
  </div>
  <form action="#" th:action="@{/book/affecter-offre/{id}(id=${book.id})}"  method="post">
  <div class="form-group row">
    <label for="language" class="col-sm-2 col-form-label">Offres</label>
    <div class="col-sm-10">
      <select name="offre"  class="form-control" >
            <option th:each="offre : ${offres}"
                    th:value="${offre.id}"
                    th:text="${offre.name}">
            </option>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <input type="submit" class="btn btn-primary" value="Affecter">
    </div>
  </div>    
	</form>

</body>
</html>