<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>

<div class="container">
    <h2 th:text="${'Welcome' + ' ' + currentUser.getFirstName + ' ' + currentUser.getLastName}"></h2>
</div>

<div class="container">
   <h2>This is your space Librarian</h2>
</div>
</body>
</html>