<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
      <link rel="stylesheet" type="text/css" th:href="@{../CSS/account-layout.css}">
    
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>


<div class="container">
	 <h2 class="mb-5">Books</h2>
	 <a class="buttonGreen" th:href="@{/book/add}">Add Book</a>
 <table  id="tablestyle">
   <tr>
           
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Rentable</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>Language</th>
            <th>Offre name</th>
            <th>Offre percentage</th>
            <th>Offre start date</th>
            <th>Offre end date</th>
            <th style="width: 100px">Action</th>
        </tr>
        <tr th:each="book : ${workList}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.quantity}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.rentable}"></td>
            <td th:text="${book.category}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.language}"></td>
            <td th:text="${book.offre != null ? book.offre.name : 'NULL'}"></td>
            <td th:text="${book.offre != null ? book.offre.percentage : 'NULL'}"></td>
            <td th:text="${book.offre != null ? book.offre.startDate : 'NULL'}"></td>
            <td th:text="${book.offre != null ? book.offre.endDate : 'NULL'}"></td>
            <td>
               	<a style="background-color: red"   class="buttonGreen"th:href="@{/book/delete/{id}(id=${book.id})}">Delete</a>
				<a class="buttonGreen" th:href="@{/book/edit/{id}(id=${book.id})}">Update</a>
				<div th:if="${book.offre == null}">
   						<a  class="buttonGreen" th:href="@{/book/affecter-offre/{id}(id=${book.id})}" >add offre</a>
				</div>

				<div th:unless="${book.offre == null}">
   					<a class="buttonGreen" th:href="@{/book/desaffecter-offre/{id}/{idOffre} (id=${book.id}, idOffre=${book.offre.id})}"  >remove offre</a>
				</div>
				
				
            </td>
        </tr>
    </table>

</div>
</body>
</html>