<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>



<div class="container">
 <h2 class="mb-5">Offres List</h2>

 <table  id="tablestyle">
 <a class="buttonGreen" th:href="@{/lib/addpromotion}">Add</a>
   <tr>
           	<th>Name</th>
            <th>Start date</th>
            <th>Percentage</th>
            <th>End date</th>
            <th style="width: 100px">Action</th>

   </tr>
        <tr th:each="prom : ${promotionList}">
        	<td th:text="${prom.name}"></td>
            <td th:text="${prom.endDate}"></td>
            <td th:text="${prom.percentage}"></td>
            <td th:text="${prom.startDate}"></td>
                        
            <td>
            	<a  class="buttonGreen"  style="background-color: red" th:href="@{/lib/delete/{id}(id=${prom.id})}">Delete</a>
            	<a class="buttonGreen" th:href="@{/lib/edit/{id}(id=${prom.id})}">Update</a>
            </td>
			
             
        </tr>
    </table>

</div>
</body>
</html>