<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update Promotion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{../../CSS/account-layout.css}">
    </head>
    <body>
    <ul th:replace="page-layout :: employeeNavBar"></ul>
        <div class="container my-5">
            <h2 class="mb-5">Update Offre</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/lib/update/{id}(id=${promotion.id})}" th:object="${promotion}" method="post">
                        <div class="row">
                        	<div class="form-group col-md-6">
                                <label for="name" class="col-form-label">name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="*{name}" placeholder="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">start date</label>
                                <input type="date" th:field="*{startDate}" class="form-control" id="*{startDate}" placeholder="sdate">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">End date</label>
                                <input type="date" th:field="*{endDate}" class="form-control" id="*{endDate}" placeholder="edate">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">percent</label>
                                <input type="text" th:field="*{percentage}" class="form-control" id="*{percentage}" placeholder="percentage">
                            </div>
                          </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Promotion">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>