<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update Book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{../../CSS/account-layout.css}">
    </head>
    <body>
    <ul th:replace="page-layout :: employeeNavBar"></ul>
        <div class="container my-5">
            <h2 class="mb-5">Update Book</h2>
            <div class="row">
                <div class="col-md-6">
            <form th:action="@{/book/edit/{id}(id=${book.id})}" th:object="${book}" method="POST">

            

            <div class="row">
                <div class="col-25">
                    <label for="author">author</label>
                </div>
                <div class="col-75">
                    <input type="text" id="author" name="author" required="required" th:field="*{author}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="category">category</label>
                </div>
                <div class="col-75">
                    <input type="text" id="category" name="category" required="required" th:field="*{category}">
                </div>
            </div>

           <div class="row">
                <div class="col-25">
                    <label for="edition">Quantity</label>
                </div>
                <div class="col-75">
                    <input type="number"  required="required" th:field="*{quantity}">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="edition">Price</label>
                </div>
                <div class="col-75">
                    <input type="number" step="0.01" required="required" th:field="*{price}">
                </div>
            </div>


            <div class="row">
                <div class="col-25">
                    <label for="edition">edition</label>
                </div>
                <div class="col-75">
                    <input type="date" id="edition" name="edition" required="required" th:field="*{edition}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="language">language</label>
                </div>
                <div class="col-75">
                    <input type="text" id="language" name="language" required="required" th:field="*{language}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="publisher">publisher</label>
                </div>
                <div class="col-75">
                    <input type="text" id="publisher" name="publisher" required="required" th:field="*{publisher}">
                </div>
            </div>
            <div class="row">
            	<div class="col-50">
                <text>Rentable:</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="rental" th:field="*{rentable}" value="true">
                <text for="role">Yes</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="rental" th:field="*{rentable}" value="false">
                <text for="role">No</text>
            </div>

        </div>
            
              <div class="row">
                <div class="col-25">
                    <label for="title">title</label>
                </div>
                <div class="col-75">
                    <input type="text" id="title" name="title" required="required" th:field="*{title}">
                </div>
            </div>
            <div class="row">
                <input class="registerButton" type="submit" value="Update">
            </div>
        </form>
                    
                </div>
            </div>
        </div>
    </body>
</html>