<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Satisfaction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<form class="container" th:action="@{/satisfactions/savesatisfaction/{operationId}/ (operationId=${newsatisfaction.operationId.getId()})}" th:object="${newsatisfaction}" method="POST">

    <p><b>Satisfaction details</b></p>

    <div type="hidden" class="row container">
        <div class="col-75">
            <input type="hidden" id="satisfactionid" name="satisfactionid" required="required" th:value="${newsatisfaction.id}">
            <input type="hidden" id="userid" name="userid" required="required" th:value="${newsatisfaction.userId}">
        </div>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Rating</label>
        <select id="satisfactionRating" name="satisfactionRating" class="form-control" th:field="${newsatisfaction.rating}">
            <option th:value="1" th:text="1">
            </option>
            <option th:value="2" th:text="2">
            </option>
            <option th:value="3" th:text="3">
            </option>
            <option th:value="4" th:text="4">
            </option>
            <option th:value="5" th:text="5">
            </option>
        </select>
    </div>
    </div>

    <div class="form-floating">
        <label for="message" class="col-sm-2 col-form-label">Message</label>
        <textarea
                class="form-control"
                placeholder="Leave a message here"
                id="message"
                name="message"
                th:value="${newsatisfaction.message}"></textarea>
    </div>

    <div class="row">
        <input class="registerButton" type="submit" value="Add Satisfaction">
    </div>

</form>

</body>
</html>