<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Satisfactions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body th:bgcolor="333333">

<ul th:replace="page-layout :: ${NavBar}"></ul>



<div class="container">

    <h3>Manage satisfactions</h3>
<!--
    <form th:action="@{/satisfactions/addsatisfaction}" method="GET">
        <button th:if="${user.role=='ROLE_USER'}" class="btn btn-success">Add Satisfaction</button>
    </form>
-->


    <table th:if="${satisfactions.size > 0}" id="tablestyle">
        <tr>
            <th>User</th>
            <th>Rating</th>
            <th>Message</th>
            <th>Operation id</th>
        </tr>
        <tr th:each="satisfaction : ${satisfactions}">
            <td th:text="${satisfaction.getUserId().getUsername()}"></td>
            <td th:text="${satisfaction.rating}"></td>
            <td th:text="${satisfaction.message}"></td>
            <td th:text="${satisfaction.getOperationId().getId()}"></td>
            <td>
              <form th:action="@{/satisfactions/managesatisfaction}" th:method="GET">
                    <input type="hidden" th:value="${satisfaction.id}" name="satisfactionId">
                    <input th:if="${user.role=='ROLE_USER'}" type="submit" class="btn btn-warning" value="Edit">
                </form>
                <form th:action="@{/satisfactions/deletesatisfaction}" th:method="GET">
                    <input type="hidden" th:value="${satisfaction.id}" name="satisfactionId">
                    <input th:if="${user.role=='ROLE_USER'}" type="submit" class="btn btn-danger" name="action" value="Delete">
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>