<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Browse Books</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">

</head>
<body th:bgcolor="333333">

	<ul th:replace="page-layout :: ${NavBar}"></ul>
	<div class="container">
        <div th:if="${operationtype ==T(com.esprit.ouverage.model.OperationType).CART}">
		<h3>Manage Cart Items</h3>
         </div>
         <div th:if="${operationtype==T(com.esprit.ouverage.model.OperationType).RENT}">
		<h3>Manage Rent Items</h3>
         </div>
		<form th:action="@{/operations/addoperation}" method="GET">
			<button th:if="${user.role=='ROLE_USER'}" class="active">AddOperation</button>
			</form>
		



		<table th:if="${items.size > 0 }" id="tablestyle">
			<tr>
				
<!-- 				<th>Operation</th> -->
				<th>Work</th>
				<th>Author</th>
				<th>Unit Price</th>
				<th>Discount</th>
				<th>Start Date</th>
				<th>Return Date</th>
				<th>Nb jours</th>
				<th>Sub Total</th>
				<th>Total</th>
				<th>Action</th>
				
			</tr>
			
			<tr th:each="op : ${items}">
				
<!-- 				<td th:text="${op.operation.id}"></td> -->
				<td th:text="${op.work.title}"></td>
				<td th:text="${op.work.author}"></td>
				<td th:text="${op.work.price}"></td>
				<td th:if="${op.discount>0}" th:text="${op.work.offre.percentage+'%'}"></td>
				<td th:if="${op.discount==0}" th:text="${'0%'}"></td>
				<td th:text="${#dates.format(op.startDate, 'dd-MM-yyyy')}"></td>
				<td th:text="${#dates.format(op.expireDate, 'dd-MM-yyyy')}"></td>
				<td th:text="${op.nbDays}"></td>
				<td th:text="${op.total}"></td>
				<td th:text="${op.total}*1.18"></td>
				<td>
					<form th:action="@{/operations/manageoperations/updateRentitem/{Id}(Id=${op.id})}" th:method="GET">
						<input type="hidden" th:value="${op.id}" name="operation">
						<input type="hidden" th:value="${curentuser}" name="operation">
						<input th:if="${user.role=='ROLE_USER'}  and ${op.operation.validate==false}" type="submit" class="btn btn-warning" value="Edit"
						style="background-color: blue">
					</form>
					
					<form th:action="@{/operations/manageoperations/deleteRentitem/{Id}(Id=${op.id})}" th:method="GET">
						<input type="hidden" th:value="${op.work.id}" name="workId">
						<input type="hidden" th:value="${op.id}" name="Id">
						 <input
							th:if="${user.role=='ROLE_USER'}  and ${op.operation.validate==false}" type="submit"
							class="btn btn-danger" name="action" value="Delete"
							style="background-color: red">
							
					</form>
				</td>
			</tr>
		</table>
        <div class="row">
		       
			    
				<div class="col-50">
					<form th:action="@{/operations/operationValidate}">
							<input th:if="${user.role=='ROLE_USER'} and ${operationValidate==false}" type="submit" value="Validate Operation">
							<input type="hidden" th:name="_method" th:value="GET">
							<input type="hidden" name="operationId" th:value="${operation}">
							<input type="hidden" name="userId" th:value="${user.id}">
							<input type="hidden" name="operationValidate" th:value="operationValidate">
							
						</form> 
					
					
				</div>
				
				<div class="col-50">
					<p>Total order: <text th:text="${total+' DT'}"></text></p>
				</div>
			</div>
	</div>
	
</body>
</html>
