<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Manage Claim</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/CSS/account-layout.css}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

</head>
<body>

	<div class="container">

		<h3>Update Cart Item Quantity</h3>

		<form th:action="@{/operations/manageoperations/saveCartitem}"
			th:method="POST">
			<div class="row">
				<div class="col-50">
					<label>ID:</label>
				</div>

				<div class="col-75">
					<input th:type="text" id="id" name="id" th:value="${item.id}"
						readonly="true" />
				</div>
			</div>

			<div class="row">
				<div class="col-50">
					<label>Title:</label>
				</div>
				<div class="col-75">
					<input th:type="text" id="title" name="titre"
						th:value="${item.work.title}" readonly="true" />
				</div>

			</div>
			<div class="row">
				<div class="col-50">
					<label>Author:</label>
				</div>
				<div class="col-75">
					<input th:type="text" id="author" name="author"
						th:value="${item.work.author}" readonly="true" />
				</div>
			</div>

			<div class="row">
				<div class="col-50">
					<label>Edition Date:</label>
				</div>
				<div class="col-75">
					<input th:type="text" id="edition" name="edition"
						th:value="${#dates.format(item.work.edition, 'dd-MM-yyyy')}" readonly="true" eanabled="false"/>
				</div>

			</div>
			<div class="row">
				<div class="col-50">
					<label>Unit Price:</label>
				</div>
				<div class="col-75">
					<input th:type="number" id="price" name="price"
						th:value="${item.work.price}" readonly="true" />
				</div>
			</div>
			<div class="row">
				<div class="col-50">
					<label>Quantity:</label>
				</div>

				<div class="col-75">
					<input th:type="number" id="itemNewQte" name="itemNewQte"
						th:value="${item.quantity}" th:min="1" th:max="${item.work.quantity}+${item.quantity}" />
				</div>
			</div>
           




			<div class="row">
				<div class="col-50">
					<input th:type="submit" value="Save"> 
					<input type="hidden" th:value="${item.id}" name="itemId">
					<input type="hidden" th:value="${item.work.id}" name="workId">
				
			   </div>
	        </div>
	</form>
	
<div class="row">
			<div class="col-75">
			<form th:action="@{/operations/manageoperations/managecartitems/{operation}(operation=${item.operation.id})}" th:method="GET">
			<input type="hidden" th:value="${item.operation.id}" name="operation">
			<input type="submit" style="background-color: red" value="Cancel">
		      </form>
              </div>
              </div>	
</div>
				

	
	
</body>
</html>
