<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Books returned</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	
	<div class="container">
		<h3>Work returned</h3>
		
		
		<div class="row">
			<form th:action="@{/operations/returnedworks/alluserworks/{userid}(userid=${user.id})}" method="GET">
				<input type="submit" value="Go back">
				<input type="hidden" th:value="${user.id}" name="userid">
			</form>
		</div>
	</div>
	
	
</body>
</html>