<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Select Works</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/CSS/account-layout.css}">

</head>
<body>
	<ul th:replace="page-layout :: ${NavBar}"></ul>

	<div class="container">

		
		<div class="row">
			<form method="GET" th:action="@{/operations/returnedworks}">

				<div class="col-25">
                <label for="firstname">First Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="firtsname" name="firstname" th:value="${firstname}">
            </div>

            <div class="col-25">
                <label for="lastname">Last Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="lastname" name="lastname" th:value="${lastname}">
            </div>
            
					<div><input type="submit" value="Search"></div>
				
			</form>
		</div>
		
		
		<br />
		<p th:if="${users.size() == 0}">Select a User.</p>
		<br />
		<table th:if="${users.size > 0 }" id="tablestyle">
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>Action</th>
				
				
			</tr>
			<tr th:each="op : ${users}" th:if="${op.role=='ROLE_USER'}">
				<td th:text="${op.id}"></td>
				<td th:text="${op.firstName}"></td>
				
				<td th:text="${op.lastName}"></td>
				<td th:text="${op.address}"></td>
				<td>
					
					
					

					<form th:action="@{/operations/returnedworks/alluserworks/{userid}(userid=${op.id})}" th:method="GET">
						<input type="hidden" th:value="${op.id}" name="userid"> <input
							th:if="${user.role=='ROLE_LIBRARIAN'}" type="submit"
							class="btn btn-danger" name="action" value="Show Reservations"
							>
					</form>

					

				</td>
			</tr>
		</table>
	</div>
</body>
</html>