<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Browse Books</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">

</head>
<body th:bgcolor="333333">

	<ul th:replace="page-layout :: ${NavBar}"></ul>
	<div class="container">
        <div th:if="${operationtype ==T(com.esprit.ouverage.model.OperationType).CART}">
		<h3>Manage Cart Items</h3>
         </div>
         <div th:if="${operationtype==T(com.esprit.ouverage.model.OperationType).RENT}">
		<h3>Manage Rent Items</h3>
         </div>
		
		

<p th:if="${items.size == 0 }" id="tablestyle"> No Items </p>

		<table th:if="${items.size > 0 }" id="tablestyle">
			<tr>
				
<!-- 				<th>Operation</th> -->
				<th>Work</th>
				<th>Author</th>
				<th>Start Date</th>
				<th>Reserved Until</th>
				<th>Nb jours</th>
				<th>Action</th>
				
			</tr>
			
			<tr th:each="op : ${items}" 
			th:if="${op.operation.operationType== T(com.esprit.ouverage.model.OperationType).RENT and op.operation.validate} ">
				
<!-- 				<td th:text="${op.operation.id}"></td> -->
				<td th:text="${op.work.title}"></td>
				<td th:text="${op.work.author}"></td>
				<td th:text="${#dates.format(op.startDate, 'dd-MM-yyyy')}"></td>
				<td th:text="${#dates.format(op.ExpireDate, 'dd-MM-yyyy')}"></td>
				<td th:text="${op.nbDays}"></td>
				<td th:if="${user.role=='ROLE_LIBRARIAN'}  and ${not op.returned} and ${op.startDate.before(#execInfo.now.time)}">
				
					
					<form 
					th:action="@{/operations/returnedworks/confirmreturnedworks}" th:method="GET">
						<input type="hidden" th:value="${op.work.id}" name="workId">
						<input type="hidden" th:value="${op.member.id}" name="userId">
						<input type="hidden" th:value="${op.id}" name="itemId">
						 <input 
							 type="submit"
							class="btn btn-danger" name="action" value="Return Book"
							style="background-color: blue">
							
					</form>
				</td>
				<td th:if="${user.role=='ROLE_LIBRARIAN'}  and ${op.returned}" style="color: red">
				<text th:text="${'Work is already Returned at : ' + #dates.format(op.returnDate, 'dd-MM-yyyy')}"></text>					
				</td>
				<td th:if="${user.role=='ROLE_LIBRARIAN'}  and ${op.startDate.after(#execInfo.now.time)}" style="color: blue">
				<text th:text="${'Rent Work will start at : ' + #dates.format(op.startDate, 'dd-MM-yyyy')}"></text>					
				</td>
			</tr>
		</table>
        <div class="row">
		       
			    
				
				</div>
				
			</div>
	</div>
	
</body>
</html>
