<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Confirm returned books</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

	<div class="container">
		
		<h3>Confirm returned Works</h3>
		
		<div class="row">
			<div class="col-25">
				<text>Name:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.firstName + ' ' + user.lastName}"></text>
			</div>
		</div>
					
		<div class="row">
			<div class="col-25">
				<text>Address:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.address}"></text>
			</div>					
		</div>		
					
		
		<br/>
		
		<table id="tablestyle">
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Category</th>
				<th>Edition Date</th>
			</tr>
			<tr th:each="op : ${item}">
				<td th:text="${op.work.title}"></td>
				<td th:text="${op.work.author}"></td>
				<td th:text="${op.work.category}"></td>
				<td th:text="${op.work.edition}"></td>
			</tr>
		</table>
		
		
		<div class="row">
			<div class="col-75">
				<form th:action="@{/operations/returnedworks/isReturned}" th:method="POST">
<!-- 					<input style="width: 225px" th:if="${fineToPay > 0}" type="submit" value="Confirm payment and return books"> -->
					<input style="width: 225px" type="submit" value="Confirm and return works">
					<input type="hidden" th:value="${user.id}" name="userId">
					<input type="hidden" th:value="${item.id}" name="itemId">
					<input type="hidden" th:value="${item.work.id}" name="workId">
					<input type="hidden" th:value="POST" name="_method">
				</form>
			</div>
			<div class="col-75">	
				<form th:action="@{/operations/returnedworks/alluserworks/{userid}(userid=${user.id})}" method="GET">
					<input style="width: 225px; background-color: red" type="submit" value="Cancel">
					<input type="hidden" th:value="${user.id}" name="userid">
				</form>
			</div>	
		</div>
	</div>	
</body>
</html>