<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Select Works</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/CSS/account-layout.css}">

</head>
<body>
	<ul th:replace="page-layout :: ${NavBar}"></ul>

	<div class="container">

		<form th:action="@{/operations/addoperation}" method="GET">
			<button th:if="${user.role=='ROLE_USER'}" class="active">AddOperation</button>
		</form>

		<div class="row">
			<form method="GET" th:action="@{/operations/manageoperations1}">

				<div class="col-25">
					<label for=operationStatus1>operation</label>
				</div>
				<div class="col-75">
					<select name="operationType1">
						<option id="operationType1"
							th:each="operationType1 : ${T(com.esprit.ouverage.model.OperationType).values()}"
							th:value="${operationType1}" th:text="${operationType1}">
						</option>
					</select>
				</div>
				<div class="col-25">
					<label for="typeOperation1">Status</label>
				</div>
				<div class="col-75">
					<select name="operationStatus1">
						
						<option id="pending" th:value=false th:text="Pending"></option>
						<option id="validated" th:value=true th:text="Validated"></option>
					</select> 
					</div>
					<div><input type="submit" value="Search"></div>
				
			</form>
		</div>
		<br />
		<p th:if="${carts.size() == 0}">Select Work to make a Cart / Rent Operation.</p>
		<table th:if="${carts.size > 0 }" id="tablestyle">
			<tr>
				<th>ID</th>
				<th>Member</th>
				<th>Date</th>
				<th>Sub Total</th>
				<th>Tax</th>
				<th>Total</th>
				<th>Action</th>

			</tr>
			<tr th:each="op : ${carts}">
				<td th:text="${op.id}"></td>
				<td th:text="${op.idMembre}"></td>
				<td th:text="${#dates.format(op.operationDate, 'dd-MM-yyyy')}"></td>
				<!-- 				<td th:text="${op.operationDate}"></td> -->
				<td th:text="${op.subTotal}"></td>
				<td th:text="${op.tax}"></td>
				<td th:text="${op.total}"></td>
				<td>
					<form 
						th:action="@{/operations/manageoperations/managecartitems/{operation}(operation=${op.id})}"
						th:method="GET">
						<input type="hidden" th:value="${op.id}" name="operation">
						<input type="hidden" th:value="${op.operationType}" name="operationtype"> 
						<input th:if="${op.operationType == T(com.esprit.ouverage.model.OperationType).CART}" type="submit" class="btn btn-warning" value="Detail">
					</form>
					<form 
						th:action="@{/operations/manageoperations/managerentitems/{operation}(operation=${op.id})}"
						th:method="GET">
						<input type="hidden" th:value="${op.id}" name="operation">
						<input type="hidden" th:value="${op.operationType}" name="operationtype"> 
						<input th:if="${op.operationType == T(com.esprit.ouverage.model.OperationType).RENT}" type="submit" class="btn btn-warning" value="Detail">
					</form>
					

					<form th:action="@{/operations/deleteoperation}" th:method="GET">
						<input type="hidden" th:value="${op.id}" name="Id"> <input
							th:if="${user.role=='ROLE_USER'} and ${op.validate==false}" type="submit"
							class="btn btn-danger" name="action" value="Delete"
							style="background-color: #ff0000">
					</form>

					<!--add satisfaction here-->
					<form th:action="@{/satisfactions/addsatisfaction}" th:method="GET">
						<input type="hidden" th:value="${op.id}" name="operationId">
						<input
								th:if="${user.role=='ROLE_USER'} and ${op.validate==true}"
								type="submit"
								class="btn btn-danger"
								name="action"
								value="Add satisfaction">
					</form>

				</td>
			</tr>
		</table>
	</div>
</body>
</html>