<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Validate The Operation</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	<div class="container">
		<h3>Validate The Operation</h3>
		<p>Are you sure?</p>
		<p>You are about to validate this Operation:</p>
		
		<div class="row">
			<div class="col-50">
				ID Operation:
			</div>
			<div class="col-75">
				<text th:text="${operation.id}"></text>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				Operation Date:
			</div>
			<div class="col-75">
				<text th:text="${#dates.format(operation.operationDate, 'dd-MM-yyyy')}"></text>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				Operation Type:
			</div>
			<div class="col-75">
				<text th:text="${operation.operationType}"></text>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				Sub Total
			</div>
			<div class="col-75">
				<text th:text="${operation.subTotal}"></text>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				Tax
			</div>
			<div class="col-75">
				<text th:text="${operation.tax}"></text>
			</div>
		</div>
		<div class="row">
			<div class="col-50">
				Total
			</div>
			<div class="col-75">
				<text th:text="${operation.total}"></text>
			</div>
		</div>
		<p><b><text th:text="${user.firstName + ' ' + user.lastName}"></b> will receive the Delivery Soon.</p>
	
		<div class="row">
			<div class="col-50">
				<form th:action="@{/operations/operationValidate/isValidated}" th:method="PUT">
					<input type="submit" value="Yes">
					<input type="hidden" th:name="_method" th:value="PUT">
					<input type="hidden" th:name="operationId" th:value="${operation.id}">
					<input type="hidden" th:name="userId" th:value="${userId}">
				</form>
			</div>
			
			<div class="col-50">
				<form th:action="@{/operations/manageoperations/managecartitems/{operation}(operation=${operation.id})}" method="GET">
					<input th:if="${operation.operationType == T(com.esprit.ouverage.model.OperationType).CART}" 
					style="background-color: red" type="submit" value="No">
				</form>
			
				<form th:action="@{/operations/manageoperations/managerentitems/{operation}(operation=${operation.id})}" method="GET">
					<input th:if="${operation.operationType == T(com.esprit.ouverage.model.OperationType).RENT}" 
					style="background-color: red" type="submit" value="No">
				</form>
			</div>
		</div>
	
	</div>

</body>
</html>