<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Are you sure?</title>

<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	
	<div class="container">
	
		<h3>Are you sure you want to delete this Operation?</h3>
		
		
		<th>ID</th>
				<th>Member</th>
				<th>Date</th>
				<th>Sub Total</th>
				<th>Tax</th>
				<th>Total</th>
		<div class="row">
			<div class="col-50">
				<label>ID:</label>
			</div>
			<div class="col-75">
				<label th:text="${operation.id}"></label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				<label>Operation Date </label>
			</div>
			<div class="col-75">
				<label th:text="${operation.operationDate}"></label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				<label>Sub Total:</label>
			</div>
			<div class="col-75">
				<label th:text="${operation.subTotal}"></label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				<label>Tax:</label>
			</div>
			<div class="col-75">
				<label th:text="${operation.tax}"></label>
			</div>
		</div>
		<div class="row">
			<div class="col-50">
				<label>Total:</label>
			</div>
			<div class="col-75">
				<label th:text="${operation.total}"></label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-50">
				<form action="@{/operations/deleteoperation}" th:method="GET">
					<input type="submit" value="Delete book" style="background-color: red">
					<input type="hidden" th:value="${operation.id}" name="Id"> 
					
				<input th:if="${user.role=='ROLE_USER'}" type="submit" class="btn btn-danger" name="action" value="Delete Operation">
			</div>
			<div class="col-75">
				<input type="submit" value="Cancel without deletion" style="width: 200px">
			</div>
	</div>

</body>
</html>