<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Claim</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<form class="container" method="POST" th:action="@{/feedbacks/savefeedback/{workId}/ (workId=${newfeedback.workId.getId()})}" th:object="${newfeedback}">

    <p><b>Feedback details </b></p>

    <div type="hidden" class="row">
        <div class="col-75">
            <input type="hidden" id="feedbackid" name="feedbackid" required="required" th:value="${newfeedback.id}">
            <input type="hidden" id="userid" name="userid" required="required" th:value="${newfeedback.userId}">
        </div>
    </div>
    

    <div>
        <label class="col-sm-2 col-form-label">Rating</label>
        <select id="feedbackRating" name="feedbackRating" class="form-control" th:field="${newfeedback.rating}">
            <option th:value="1" th:text="1">
            </option>
            <option th:value="2" th:text="2">
            </option>
            <option th:value="3" th:text="3">
            </option>
            <option th:value="4" th:text="4">
            </option>
            <option th:value="5" th:text="5">
            </option>
        </select>
    </div>
    </div>

    <!--
      <div class="row">
          <div class="col-25">
              <label for="message">Message</label>
          </div>
          <div class="col-75">
              <input type="text" id="message" name="message" th:field="${newfeedback.message}">
            <textarea id="message" name="message" th:field="${newfeedback.message}"></textarea>
        </div>
    </div>

    -->
    <div class="form-floating">
        <label for="message" class="col-sm-2 col-form-label">Message</label>
        <textarea
                class="form-control"
                placeholder="Leave a message here"
                id="message"
                name="message"
                th:field="${newfeedback.message}"></textarea>
    </div>



    <div class="row">
        <input class="registerButton" type="submit" value="Add Feedback">
    </div>

</form>

</body>
</html>