<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Feedbacks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body th:bgcolor="333333">

<ul th:replace="page-layout :: ${NavBar}"></ul>



<div class="container">

    <h3>Manage Feedbacks</h3>
<!--
    <form type="hidden"  th:action="@{/feedbacks/addfeedback}" method="GET">
        <button th:if="${user.role=='ROLE_USER'}" class="btn btn-success">Add Feedback</button>
    </form>
 -->
    <table th:if="${feedbacks.size > 0}" id="tablestyle">
        <tr  class="container">
            <th>User</th>
            <th>rating</th>
            <th>message</th>
            <th>Book</th>
        </tr>
        <tr class="container" th:each="feedback : ${feedbacks}">
            <td th:text="${feedback.getUserId().getUsername()}"></td>
            <td th:text="${feedback.rating}"></td>
            <td th:text="${feedback.message}"></td>
            <td th:text="${feedback.getWorkId().getTitle()}"></td>
            <td>
                <form th:action="@{/feedbacks/managefeedback}" th:method="GET">
                    <input type="hidden" th:value="${feedback.id}" name="feedbackId">
                    <input type="submit" class="btn btn-warning" value="Edit">
                </form>
                <form th:action="@{/feedbacks/deletefeedback}" th:method="GET">
                    <input type="hidden" th:value="${feedback.id}" name="feedbackId">
                    <input th:if="${user.role=='ROLE_LIBRARIAN'}" type="submit" class="btn btn-danger" name="action" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>