<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Feedback</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

<div class="container">

    <h3>Manage feedback</h3>

    <form th:action="@{/feedbacks/feedbackinfomodify/{workId}/ (workId=${feedback.workId.getId()})}" th:method="PUT">

            <div >
                <label class="col-sm-2 col-form-label">Rating</label>
                <select id="feedbackNewRating" name="feedbackNewRating"  class="form-control" th:field="${feedback.rating}">
                    <option th:value="1" th:text="1">
                    </option>
                    <option th:value="2" th:text="2">
                    </option>
                    <option th:value="3" th:text="3">
                    </option>
                    <option th:value="4" th:text="4">
                    </option>
                    <option th:value="5" th:text="5">
                    </option>
                </select>
            </div>

        <div class="form-floating">
            <label for="feedbackNewMessage" class="col-sm-2 col-form-label">Message</label>
            <textarea
                    class="form-control"
                    placeholder="Leave a message here"
                    id="feedbackNewMessage"
                    name="feedbackNewMessage"
                    th:value="${feedback.message}"></textarea>
        </div>

        <div class="row">
            <div class="col-50">
                <input type="submit" value="Save Changes">
                <input type="hidden" th:value="${feedback.id}" name="feedbackId">
            </div>
        </div>
    </form>

</div>
</body>
</html>