<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Select Works</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    
</head>
<body>
<ul th:replace="page-layout :: ${NavBar}"></ul>



<div class="container">
    <h3>Select Works</h3>
     
    <div class="row">
        <form method="GET"  th:action="@{operations/manageoperations}">
  
             <div class="col-25">
                <label for="titre">Titre</label>
            </div>
            <div class="col-75">
                <input type="text" id="titre" name="titre" th:value="${titre}">
            </div>

            <div class="col-25">
                <label for="Author">Author</label>
            </div>
            <div class="col-75">
                <input type="text" id="author" name="author" th:value="${author}">
            </div>
            <div>
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
    <br/>
     <table th:if="${works.size > 0 }" id="tablestyle">
			<tr>
				<th>ID</th>
				<th>Titre</th>
				<th>Author</th>
				<th>Language</th>
				<th>Price</th>
				<th>Action</th>
				
			</tr>
			<tr th:each="op : ${works}">
				<td th:text="${op.id}"></td>
				<td th:text="${op.titre}"></td>
				<td th:text="${op.author}"></td>
				<td th:text="${op.language}"></td>
				<td th:text="${op.price}"></td>
				<td>
					
					<form th:if="${op.rentable}" th:action="@{/operations/manageoperations/addcartitem}" th:method="POST">
						<input type="hidden" th:value="${op.id}" name="work">
						<input type="submit" class="btn btn-warning" value="Add Rent">
					</form>
					
					<form th:if="${not op.rentable}" th:action="@{/operations/manageoperations/addcartitem}" th:method="POST">
						<input type="hidden" th:value="${op.id}" name="workId"> 
						<input type="hidden" th:value="${op.id}" name="operationId"> 
						<input
							th:if="${user.role=='ROLE_USER'}" type="submit"
							class="btn btn-danger" name="action" value="Add Cart">
					</form>
				</td>
			</tr>
		</table>
</div>
</body>
</html>