<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Manage Items</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/CSS/account-layout.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body th:bgcolor="333333">

	<ul th:replace="page-layout :: ${NavBar}"></ul>

	<div class="container">

		<h3>Select Book</h3> 

<!-- 		<form th:action="@{/operations/addoperation}" method="GET"> -->
<!-- 			<button th:if="${user.role=='ROLE_USER'}" class="btn btn-success">Add -->
<!-- 				Operation</button> -->
<!-- 		</form> -->
		
<!--     <div class="row"> -->
<!--         <form th:action="@{/operations/manageoperations}" method="GET"> -->

<!--             <div class="col-25"> -->
<!--                 <label for="typeOperation">Type</label> -->
<!--             </div> -->
<!--             <div class="col-75"> -->
<!--                 <select name="typeOperation"> -->
<!--                     <option -->
<!--                             id="typeOperation" th:each="typeOperation : ${T(com.esprit.ouverage.model.OperationType).values()}" -->
<!--                             th:value="${typeOperation}" th:text="${typeOperation}"></option> -->
<!--                 </select> -->
<!--             </div> -->


<!--             <div> -->
<!--                 <input type="submit" value="Search"> -->
<!--             </div> -->
<!--         </form> -->
<!--     </div> -->
<!--     <br/> -->


		<table th:if="${works.size > 0 }" id="tablestyle">
			<tr>
				<th>ID</th>
				<th>Titre</th>
				<th>Author</th>
				<th>Language</th>
				<th>Price</th>
				<th>Action</th>
				
			</tr>
			<tr th:each="op : ${works}">
				<td th:text="${op.id}"></td>
				<td th:text="${op.titre}"></td>
				<td th:text="${op.author}"></td>
				<td th:text="${op.language}"></td>
				<td th:text="${op.price}"></td>
				<td>
					
					<form th:if="${op.rentable}" th:action="@{/manageoperations/manageitems}" th:method="GET">
						<input type="hidden" th:value="${op.id}" name="operation">
						<input type="submit" class="btn btn-warning" value="Add Rent">
					</form>
					
					<form th:if="${not op.rentable}" th:action="@{/operations/manageoperations/deleteitem}" th:method="GET">
						<input type="hidden" th:value="${op.id}" name="Id"> <input
							th:if="${user.role=='ROLE_USER'}" type="submit"
							class="btn btn-danger" name="action" value="Add Cart">
					</form>
				</td>
			</tr>
		</table>

	</div>
	
</body>
</html>
